<div class="row">
	<h3>ManageAccount Component</h3>

	<p>Name: @Account.Value?.Name</p>

	<div class="row">
		<div class="col-auto">
			<input type="text" @bind="accountName">
		</div>
		<div class="col-auto">
			<button class="btn btn-primary mb-3" @onclick="Save">Save</button>
		</div>
	</div>
</div>

@code {
	[Inject] protected IStateObserver<Account> Account { get; set; } = null!;
	private string accountName = "";

	protected override void OnParametersSet()
	{
		accountName = Account.Value?.Name ?? "";
		Account.Register(this, () =>
		{
			Console.WriteLine($"[{nameof(ManageAccount)}] State changed");
			accountName = Account.Value?.Name ?? "";

			StateHasChanged();
		});
	}

	private void Save()
	{
		Account.Value = new Account { Name = accountName };
		//Account.SetValue(new Account { Name = accountName }, this);
	}
}
